/* .container {
  width: 90%;
  margin: auto;
} */

.logo {
  height: 120px;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #777;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  font-family: 'Playfair Display', serif;
}

p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.5;
}

h2.inspiration {
  text-align: center;
}

.quote {
  text-align: center;
}

.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.share-buttons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  color:"red";
}

.share-buttons a:hover {
  color: #999;
}



footer {
  text-align: center;
  font-size: 0.5em;
}
