body {
  font-family: "Zilla Slab", serif;
}

h1, h2, h3, h4,h5, h6 {
  font-weight: 700;
  color: #323232;
}

p {
  color: #323232;
  font-size: 1rem;
}

h1.brand {
  font-family: "Unica One";
}


/* containers */
.container-fluid {
  padding: 7% 12%;
}

#title .container-fluid {
  /* background-color: black; */
  padding: 1% 10%;
}

#content .container-fluid {
  padding: 5% 10%;
}

#form .container-fluid {
  padding: 2% 10%;
  background-color: grey;
}

#title .navbar {
  font-size: 1.3rem;
}

.navbar-brand {
  font-family: "Unica One";
  font-size:3rem;
}



.recent {
  margin-top:2rem;
}

/* sections */
.contact {
  margin-top: 5%;
  background-color: #EDEDED;
  padding: 3%;
}
